@charset "utf-8";


html,
body {
    margin: 0 auto;
    padding: 0 auto;
    font-size: 12px;
    font-family: Courier New,monospace;
    font-weight: 300;
    color: #292929;
    max-width: 50rem;
    width: 90%;
}

hr {
    border-top: none;
    border-bottom: 1px solid #c0c0c0;
}

header{
    padding-top: 5rem;
    padding-bottom: 1rem;
    text-align: center;
}

.title{
    text-decoration: none;
    color: #292929;
}

.title>img{
    border-radius: 50%;
    max-width: 8rem;
}

.title>p {
    font-size: 2rem;
    line-height: 0rem;
}

.title>p>span {
    font-size: 1.2rem;
}

main>a {
    width: 100%;
    text-decoration: none;
    font-size: 1.2rem;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    line-height: 3rem;
}
main>a:link{
    color: #292929;
}

main>a:hover{
    transform: scale(1.01);
    transition: transform .2s;
    color: blue;
}

main>a:active{
    color: red;
}

main>a::before {
    content: '';
    position: absolute;
    top: 50%;
    /* 根据需要调整垂直位置 */
    left: 0;
    right: 0;
    height: 2px;
    /* 虚线的“厚度” */
    background-image: linear-gradient(to right, #c0c0c0 50%, #ffffff00 0%);
    background-size: 4px 1px;
    /* 虚线的宽度和高度（这里的高度应与上面的height相匹配） */
    background-repeat: repeat-x;
    transform: translateY(-50%);
    /* 使虚线垂直居中于文字 */
    z-index: -1;
    /* 将虚线放在文字下面 */
}

main>a>span:first-child {
    background: white;
}

main>a>span:last-child {
    float: right;
    background: white;
}

main {
    margin-top: 1rem;
}

.pagination>a,.pagination{
    text-align: center;
    text-decoration: none;
    color: #292929;
    padding: .6rem;
    margin-top: 2rem;
}

footer {
    margin-top: 4rem;
    text-align: center;
    margin-bottom: 4rem;
}

footer a{
    color: #292929;
    text-decoration: none;
}